Source: ros-kinetic-cl-tf
Section: misc
Priority: extra
Maintainer: Lorenz Moesenlechner <moesenle@cs.tum.edu>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-cl-transforms, ros-kinetic-cl-transforms-stamped, ros-kinetic-roslisp, ros-kinetic-tf, sbcl
Homepage: http://ros.org/wiki/cl_tf
Standards-Version: 3.9.2

Package: ros-kinetic-cl-tf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cl-transforms, ros-kinetic-cl-transforms-stamped, ros-kinetic-roslisp, ros-kinetic-tf, sbcl
Description: Client implementation to use TF from Common Lisp
