Source: ros-melodic-actionlib-lisp
Section: misc
Priority: optional
Maintainer: Gayane Kazhoyan <kazhoyan@cs.uni-bremen.de>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/actionlib_lisp
Standards-Version: 3.9.2

Package: ros-melodic-actionlib-lisp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-actionlib-msgs, ros-melodic-cl-utils, ros-melodic-message-runtime, ros-melodic-roslisp
Description: actionlib_lisp is a native implementation of the famous actionlib in Common Lisp.
 It provides a client and a simple server.
